
<div class="archive post-type-archive post-type-archive-job_listing listable">
   <div id="page" class="hfeed site">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
  	<%= render "home/header"%>
    <!-- #masthead -->
    <div id="content" class="site-content">
      <div id="primary" class="content-area">
        <div class="entry-content">
          <main id="main" class="site-main" role="main">
            <div class="job_listings" data-location="" data-keywords="" data-show_filters="true" data-show_pagination="false" data-per_page="10" data-orderby="featured" data-order="DESC" data-categories="" >
              <div class="myflex">
                <div class="myflex__left">
                  
                  <%=render :partial=> "home/listing",:locals=>{:@subcat=>@subcat}%>                  
                  <!-- .grid.list.job_listings -->
                  <svg class="loader" width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                      <linearGradient x1="50%" y1="7.52257671%" x2="50%" y2="100%" id="linearGradient-1">
                        <stop stop-color="currentColor" stop-opacity="0.5" offset="0%"></stop>
                        <stop stop-color="currentColor" stop-opacity="0" offset="100%"></stop>
                      </linearGradient>
                      <linearGradient x1="50%" y1="7.70206696%" x2="50%" y2="100%" id="linearGradient-2">
                        <stop stop-color="currentColor" stop-opacity="0.5" offset="0%"></stop>
                        <stop stop-color="currentColor" offset="100%"></stop>
                      </linearGradient>
                    </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g>
                        <path d="M20,0 C31.045695,0 40,8.954305 40,20 C40,31.045695 31.045695,40 20,40 L20,38 C29.9411255,38 38,29.9411255 38,20 C38,10.0588745 29.9411255,2 20,2 L20,0 Z" id="Oval-1" fill="url(#linearGradient-1)"></path>
                        <path d="M20,0 C8.954305,0 0,8.954305 0,20 C0,31.045695 8.954305,40 20,40 L20,38 C10.0588745,38 2,29.9411255 2,20 C2,10.0588745 10.0588745,2 20,2 L20,0 Z" id="Oval-1-Copy" fill="url(#linearGradient-2)"></path>
                      </g>
                    </g>
                  </svg>
                  <a class="load_more_jobs" href="#" style="display:none;"><strong>Load more listings</strong></a>	
                </div>
                <!-- .myflex__left -->
                <div id="map" class="map myflex__right"></div>
              </div>
              <!-- .myflex -->
            </div>
          </main>
          <!-- #main -->
        </div>
      </div>
      <!-- #primary -->
    </div>
    <!-- #content -->
    <%= render "home/footer"%>
    <!-- #colophon -->
  </div>
  <!-- #page -->
  <div class="hide">
    <div class="arrow-icon-svg">
      <svg width="25" height="23" viewBox="0 0 25 23" xmlns="http://www.w3.org/2000/svg">
        <path d="M24.394 12.81c.04-.043.08-.084.114-.13.02-.02.04-.047.055-.07l.025-.034c.258-.345.412-.773.412-1.24 0-.464-.154-.89-.412-1.237-.01-.02-.022-.036-.035-.05l-.045-.06c-.035-.044-.073-.09-.118-.13L15.138.61c-.814-.813-2.132-.813-2.946 0-.814.814-.814 2.132 0 2.947l5.697 5.7H2.08c-1.148 0-2.08.93-2.08 2.083 0 1.15.932 2.082 2.084 2.085H17.89l-5.7 5.695c-.814.815-.814 2.137 0 2.95.814.815 2.132.815 2.946 0l9.256-9.255c-.004-.003 0-.006 0-.006z" fill="currentColor" fill-rule="evenodd"/>
      </svg>
    </div>
    <div class="cluster-icon-svg">
      <svg width="50px" height="62px" viewBox="0 0 50 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
              <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
              <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
          </filter>
          <path id="unique-path-2" d="M6.75141997,6.76666667 C0.287315594,13.2746963 -1.50665686,22.6191407 1.24745785,30.7382815 C7.20204673,48.0746963 23.0106822,58 23.0106822,58 C23.0106822,58 38.6298497,48.1382815 44.6475946,30.9969185 C44.6475946,30.9333333 44.7107506,30.8697481 44.7107506,30.8027259 C47.5280214,22.6191407 45.7340489,13.2746963 39.2699445,6.76666667 C30.3086168,-2.25555556 15.7127477,-2.25555556 6.75141997,6.76666667 Z"></path>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-3">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
              <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
              <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
          </filter>
          <path id="unique-path-4" d="M8.87079997,8.83664825 C3.24983965,14.4470186 1.6898636,22.5025742 4.08474595,29.5018334 C9.26264933,44.4470186 23.0092889,53.0033149 23.0092889,53.0033149 C23.0092889,53.0033149 36.5911736,44.5018334 41.8239953,29.7247964 C41.8239953,29.6699816 41.8789136,29.6151668 41.8789136,29.557389 C44.3287142,22.5025742 42.7687382,14.4470186 37.1477778,8.83664825 C29.355319,1.05887047 16.6632588,1.05887047 8.87079997,8.83664825 Z"></path>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-5">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
              <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
              <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
          </filter>
          <path id="unique-path-6" d="M10.28372,10.25 C5.22485568,15.2993333 3.82087724,22.5493333 5.97627136,28.8486667 C10.6363844,42.2993333 23.00836,50 23.00836,50 C23.00836,50 35.2320563,42.3486667 39.9415958,29.0493333 C39.9415958,29 39.9910222,28.9506667 39.9910222,28.8986667 C42.1958428,22.5493333 40.7918644,15.2993333 35.7330001,10.25 C28.7197871,3.25 17.296933,3.25 10.28372,10.25 Z"></path>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-7">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
              <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
              <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
          </filter>
          <path id="unique-path-8" d="M11.69664,11.6666667 C7.19987172,16.154963 5.95189088,22.5994074 7.86779676,28.1988148 C12.0101195,40.154963 23.0074311,47 23.0074311,47 C23.0074311,47 33.8729389,40.1988148 38.0591962,28.3771852 C38.0591962,28.3333333 38.1031309,28.2894815 38.1031309,28.2432593 C40.0629714,22.5994074 38.8149905,16.154963 34.3182223,11.6666667 C28.0842552,5.44444444 17.9306071,5.44444444 11.69664,11.6666667 Z"></path>
        </defs>
        <g id="Page---Listings-Archive" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Pin-4" transform="translate(2.000000, 1.000000)">
            <g id="Pin-Copy-4" filter="url(#filter-1)">
              <use fill="#FFFFFF" xlink:href="#unique-path-2"></use>
              <use id="svgCluster1" fill="currentColor" xlink:href="#unique-path-2"></use>
            </g>
            <g id="Pin-Copy-3" filter="url(#filter-3)">
              <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#unique-path-4"></use>
              <use id="svgCluster2" fill="none" xlink:href="#unique-path-4"></use>
            </g>
            <g id="Pin-Copy-6" filter="url(#filter-5)">
              <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#unique-path-6"></use>
              <use id="svgCluster3" fill="none" xlink:href="#unique-path-6"></use>
            </g>
            <g id="Pin-Copy-5" filter="url(#filter-7)">
              <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#unique-path-8"></use>
              <use id="svgCluster4" fill="none" xlink:href="#unique-path-8"></use>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="selected-icon-svg">
      <svg width="48px" height="59px" viewBox="0 0 48 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
              <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
              <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
          </filter>
          <path id="path-2" d="M6.47133474,6.469534 C0.275396197,12.691788 -1.44415263,21.6259064 1.19570658,29.3885257 C6.90326708,45.9636772 22.0560753,55.4531486 22.0560753,55.4531486 C22.0560753,55.4531486 37.0272756,46.0244703 42.7953721,29.6358057 C42.7953721,29.5750126 42.8559081,29.5142195 42.8559081,29.4501403 C45.5563033,21.6259064 43.8367544,12.691788 37.6408159,6.469534 C29.0512523,-2.15651133 15.0608983,-2.15651133 6.47133474,6.469534 Z"></path>
        </defs>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(2.000000, 1.000000)">
            <g id="Pin" filter="url(#filter-1)">
              <use fill="#FFFFFF" xlink:href="#path-2"></use>
              <use id="selected" xlink:href="#path-2"></use>
            </g>
            <ellipse id="oval" fill="#FFFFFF" cx="22" cy="22.0243094" rx="18" ry="18.0198895"></ellipse>
          </g>
        </g>
      </svg>
    </div>
    <div class="empty-icon-svg">
      <svg width="48px" height="60px" viewBox="0 0 48 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
        <title>path-2</title>
        <desc>Created with Sketch.</desc>
        <defs>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
              <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
              <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
          </filter>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <path d="M8.47133474,8.077269 C2.2753962,14.299523 0.55584737,23.2336414 3.19570658,30.9962607 C8.90326708,47.5714122 24.0560753,57.0608836 24.0560753,57.0608836 C24.0560753,57.0608836 39.0272756,47.6322053 44.7953721,31.2435407 C44.7953721,31.1827476 44.8559081,31.1219545 44.8559081,31.0578753 C47.5563033,23.2336414 45.8367544,14.299523 39.6408159,8.077269 C31.0512523,-0.54877633 17.0608983,-0.54877633 8.47133474,8.077269 L8.47133474,8.077269 Z M24,33.607735 C29.5228475,33.607735 34,29.1305825 34,23.607735 C34,18.0848875 29.5228475,13.607735 24,13.607735 C18.4771525,13.607735 14,18.0848875 14,23.607735 C14,29.1305825 18.4771525,33.607735 24,33.607735 L24,33.607735 Z" id="path-2" fill="#FFFFFF" filter="url(#filter-1)" sketch:type="MSShapeGroup"></path>
        </g>
      </svg>
    </div>
    <div class="card-pin-svg">
      <svg width="14px" height="20px" viewBox="0 0 14 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <path d="M7,0 C3.13383665,0 0,3.0828692 0,6.88540084 C0,10.68827 6.33390528,20 7,20 C7.66609472,20 14,10.68827 14,6.88540084 C14,3.0828692 10.8661633,0 7,0 L7,0 Z M7,9.87341772 C5.2947838,9.87341772 3.91146191,8.51274262 3.91146191,6.83544304 C3.91146191,5.15814346 5.2947838,3.79746835 7,3.79746835 C8.7052162,3.79746835 10.0885381,5.15814346 10.0885381,6.83544304 C10.0885381,8.51274262 8.7052162,9.87341772 7,9.87341772 L7,9.87341772 Z" id="Imported-Layers-Copy-5" fill="currentColor" sketch:type="MSShapeGroup"></path>
        </g>
      </svg>
    </div>
  </div>


<!-- <script type='text/javascript' src='//maps.google.com/maps/api/js?key=<%=google_api_key%>&v=3.exp&#038;libraries=places&#038;ver=3.22'></script> -->
<script type='text/javascript' src='http://tecorb.com/admin/demo/section1/escorts/wp-content/themes/listable/assets/js/plugins/leaflet.js?ver=1.0.0'></script>


<script type='text/javascript'>
/* <![CDATA[ */
var listable_params = {"login_url":"http:\/\/tecorb.com\/admin\/demo\/section1\/escorts\/wp-login.php","listings_page_url":"http:\/\/tecorb.com\/admin\/demo\/section1\/escorts\/jobs\/","strings":{"wp-job-manager-file-upload":"Add Photo","no_job_listings_found":"No results","results-no":"Results"}};
/* ]]> */
</script>


<script type='text/javascript' src='http://tecorb.com/admin/demo/section1/escorts/wp-content/themes/listable/assets/js/main.js?ver=1.6.0'></script>
<script type='text/javascript' src='http://tecorb.com/admin/demo/section1/escorts/wp-content/plugins/comments-ratings/js/jquery.raty.js?ver=1.1.5'></script>


<script type='text/javascript'>
  /* <![CDATA[ */
   var pixreviews = {"hints":["Terrible","Poor","Average","Very Good","Exceptional"]};
  /* ]]> */
</script>


<script type='text/javascript' src='http://tecorb.com/admin/demo/section1/escorts/wp-content/plugins/comments-ratings/js/reviews.js?ver=1.1.5'></script>
<script type='text/javascript' src='http://tecorb.com/admin/demo/section1/escorts/wp-content/plugins/wp-job-manager/assets/js/jquery-deserialize/jquery.deserialize.js?ver=1.2.1'></script>


<script type='text/javascript'>
  /* <![CDATA[ */
  var job_manager_chosen_multiselect_args = {"search_contains":"1"};
  /* ]]> */
</script>


<script type='text/javascript' src='http://tecorb.com/admin/demo/section1/escorts/wp-content/plugins/wp-job-manager/assets/js/jquery-chosen/chosen.jquery.min.js?ver=1.1.0'></script>


<script type='text/javascript'>
  /* <![CDATA[ */
  var job_manager_ajax_filters = {"ajax_url":"\/admin\/demo\/section1\/escorts\/jm-ajax\/%%endpoint%%\/","is_rtl":"0","i18n_load_prev_listings":"Load previous listings"};
  /* ]]> */
</script>


<script type='text/javascript' src='http://tecorb.com/admin/demo/section1/escorts/wp-content/plugins/wp-job-manager/assets/js/ajax-filters.min.js?ver=1.25.0'></script>

</div>

<script type="text/javascript">
    
  function initMap() {

  var image ={ 
    url: '/assets/pinmap5.png', // url
    scaledSize: new google.maps.Size(50, 50), // scaled size
    origin: new google.maps.Point(0,0), // origin
    anchor: new google.maps.Point(0, 0) // anchor
  }

     var locations =[]
     
     <%if @cat.name=="escort"%>
       <%@c=0%>
       <%@subcat.each do |e|%>
          temp =[];
          temp.push("<strong><%=e.title%></strong>");
          temp.push("<%=e.latitude%>");
          temp.push("<%=e.longitude%>");
          temp.push(<%=@c%>);
          locations.push(temp);
          <%@c+=1%>
       <%end%>
      <%else%>
        <%@c=0%>
        <%@subcat.each do |s|%>
          var address = '<%="#{s.street_address.gsub('#','')},#{s.city},#{s.state}"%>'
          var geocoder= new google.maps.Geocoder();
            geocoder.geocode( { 'address': address}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                // alert(results[0].geometry.location)
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                    
                });
                 // infowindow.setContent(results[0].formatted_address);
                 //    infowindow.open(map, marker);
                 //  } else {
                 //    // window.alert('No results found');
                 //  }

                
                  // tmp=[]
                  // tmp.push("<%=s.title%>")
                  // tmp.push(results[0].geometry.location.lat())
                  // tmp.push(results[0].geometry.location.lng())
                  // tmp.push(<%=@c%>)
                  // // alert(tmp)
                  // locations.push(tmp)
                  // alert(locations)
              }
          });
            <%@c+=1%>
          <%end%>
          // alert(locations)
          // locations
      <%end%>

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
      center: new google.maps.LatLng(41.976816, -87.659916),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow({});

    var marker, i;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        icon: image
      });

      google.maps.event.addListener(marker, 'click', (function (marker, i) {
        return function () {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  }



    </script>
    
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=google_api_key%>&libraries=drawing&callback=initMap"
         async defer></script>
