<div class="mail-body">
  <div class="form-group">
    <div class="row">
      <div class="col-lg-2">
        <label><h4>Title:</h4></label>
      </div>
      <div class="col-lg-8 alert alert-danger">
       <h4><%=@ticket.title%></h4>
      </div>
    </div>
    <hr>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-2">
        <label><h4>Content:</h4></label>
      </div>
      <div class="col-lg-8 alert alert-warning">
        <h4><%=@ticket.content%></h4>
      </div>
    </div>
    <hr>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-2">
        <label><h4>Subcategory:</h4></label>
      </div>
      <div class="col-lg-8 alert alert-warning">
        <h4><%=@subcategory.present? ? @subcategory.title : "Not Available"%></h4>
      </div>
    </div>
  </div>
</div>
<div class="form-group mail-body">
  <%#=p "=================#{current_business_user.id}"%>
 <%=form_for :comment,url: user_ticket_ticket_comments_path(current_business_user.id,@ticket.id),:html=>{:class=>"form-horizontal"} do |f|%>
    <div class="input-group">
      <label class="errors comment">*Please enter the comment</label>
    </div>
    <div class="form-group">
      <%= f.label :comment, 'Enter your comment:' %>
      <%= f.text_area :comment, rows: 3, :class =>'form-control',:id=>"comment", required: true %>
      <small class="btn btn-warning btn-sm">Cannot be blank</small>
    </div>
    <%= f.submit 'Post', class: 'btn btn-primary btn-sm pull-right',:id=>"new_comment_submit" %><br><br>
  <% end %>
</div>



<script type="text/javascript">

 $('.errors').hide();
 
 $('#new_comment_submit').click(function(){
    $('.errors').hide();

    if($('#comment').val().trim()=="")
    {
      $('.comment').show();
      return false;
    }
    else
    {
      return true;
    }

  });
</script>