
<header id="masthead" class="site-header <%if params[:controller]=="home" and params[:action]=='index'%> header--transparent"<%end%> role="banner">
  <div class="site-branding">
    <h1 class="site-title  site-title--text"><a class="site-logo-link" href="<%=root_path%>" rel="home" data-no-turbolink = true>Find near by Desires.</a></h1>
  </div>
  <!-- .site-branding -->


  <button class="menu-trigger  menu--open  js-menu-trigger">

    <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs></defs>
      <g id="Responsiveness" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
        <g id="noun_70916" transform="translate(0.000000, 5.000000)">
          <path d="M0.909090909,2.22222222 L29.0909091,2.22222222 C29.5927273,2.22222222 30,1.72444444 30,1.11111111 C30,0.497777778 29.5927273,0 29.0909091,0 L0.909090909,0 C0.407272727,0 0,0.497777778 0,1.11111111 C0,1.72444444 0.407272727,2.22222222 0.909090909,2.22222222 L0.909090909,2.22222222 Z" id="Shape"></path>
          <path d="M0.909090909,11.1111111 L29.0909091,11.1111111 C29.5927273,11.1111111 30,10.6133333 30,10 C30,9.38666667 29.5927273,8.88888889 29.0909091,8.88888889 L0.909090909,8.88888889 C0.407272727,8.88888889 0,9.38666667 0,10 C0,10.6133333 0.407272727,11.1111111 0.909090909,11.1111111 L0.909090909,11.1111111 Z" id="Shape"></path>
          <path d="M0.909090909,20 L29.0909091,20 C29.5927273,20 30,19.5022222 30,18.8888889 C30,18.2755556 29.5927273,17.7777778 29.0909091,17.7777778 L0.909090909,17.7777778 C0.407272727,17.7777778 0,18.2755556 0,18.8888889 C0,19.5022222 0.407272727,20 0.909090909,20 L0.909090909,20 Z" id="Shape"></path>
        </g>
      </g>
    </svg>

  </button>
  <nav id="site-navigation" class="menu-wrapper" role="navigation">
    <button class="menu-trigger  menu--close  js-menu-trigger">

      <svg class="close-icon" width="30" height="30" viewBox="0 0 30 30" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M16.326 15l13.4-13.4c.366-.366.366-.96 0-1.325-.366-.367-.96-.367-1.326 0L15 13.675 1.6.275C1.235-.093.64-.093.275.275c-.367.365-.367.96 0 1.324l13.4 13.4-13.4 13.4c-.367.364-.367.96 0 1.323.182.184.422.275.662.275.24 0 .48-.09.663-.276l13.4-13.4 13.4 13.4c.183.184.423.275.663.275.24 0 .48-.09.662-.276.367-.365.367-.96 0-1.324L16.325 15z" fill-rule="evenodd" />

    </button>

    <ul id="menu-main-menu" class="primary-menu">
      <li id="menu-item-11042" class="cta menu-item menu-item-type-post_type menu-item-object-page menu-item-11042">
        <a href="#" class="ip-location">Finding you...</a>
      </li>
      <li id="menu-item-11041" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-11041"><a href="#" class=" ">Search by</a>
        <ul class="sub-menu">
          <li id="menu-item-11075" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11075">
             <a href="<%=subcategories_path(search_category: '')%>" data-no-turbolink = true>All categories</a>
            </li>
          <%categories.each do |c|%>
            <li id="menu-item-11075" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11075">
          	 <a href="<%=subcategories_path(search_category: c.id)%>" data-no-turbolink = true><%=c.name%></a>
            </li>
          <%end%>
        
        </ul>
      </li>
      <li id="menu-item-11048" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-11048"><a href="#" class=" ">Help</a>
        <ul class="sub-menu">
          <li id="menu-item-11049" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11049">
          	<a href="#" class=" ">How it Works</a>
          </li>
          <li id="menu-item-11076" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11076">
          	<a href="#" class=" ">Special Offers</a>
          </li>
          <li id="menu-item-11082" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11082">
          	<a href="#" class=" ">Listings &#8211; No Map</a>
          </li>
        </ul>
      </li>
     <!--  <li id="menu-item-11056" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11056">
      	<a href="#" class=" ">Blog</a>
      </li> -->
      
      <li id="menu-item-11093" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11093">
      	<a href="#" class="  iframe-login-link">Log In</a>
      </li>
      <li id="menu-item-11092" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-11092 menu-item-current-username ">
        <a href="#" class="iframe-login-link">
        	<img alt='' src='http://1.gravatar.com/avatar/?s=32&#038;d=mm&#038;r=g' srcset='http://0.gravatar.com/avatar/?s=64&amp;d=mm&amp;r=g 2x' class='avatar avatar-32 photo avatar-default user-avatar' height='32' width='32' /><span class="user-display-name">Welcome!</span>
        </a>
        <ul class="sub-menu">
          <li id="menu-item-11091" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11091">
          	<a href="<%=payment_path%>" class=" ">Dashboard</a>
          </li>
          <li id="menu-item-11090" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11090">
          	<a href="#" class=" ">Your Listings</a>
          </li>
          <li id="menu-item-11087" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11087">
          	<a href="#" class=" ">Add Listing</a>
          </li>
          <li id="menu-item-11088" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11088">
          	<a href="#" class=" ">Bookmarks</a>
          </li>
          <li id="menu-item-11089" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11089">
          	<a href="#" class=" ">Edit Profile</a>
          </li>
          <li id="menu-item-11094" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11094">
          	<a href="#" class="  logout-link">Log Out</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>