<div class="home page page-id-206 page-template page-template-page-templates page-template-front_page page-template-page-templatesfront_page-php listable">

  <div id="page" class="hfeed site">
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

    <%= render "header"%>
    <!-- #masthead -->

    <div id="content" class="site-content">

      <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
          <article id="post-206" class="post-206 page type-page status-publish has-post-thumbnail hentry">
            <header class="entry-header has-image">
              <div class="entry-featured" style="background-image: url(/assets/body-rub-bath.gif);">
              </div>
              <div class="header-content">
                <h1 class="page-title">Escorts Nearby, 
                  <span id='div1' class='display' style="color: blue">Anytime</span>
                  <span id='div2' class='display' style="color: #FF69B4">Escorts</span>
                  <span id='div3' class='display' style="color: #8B4513">Rubmaps</span>
                </h1>

                <div class="entry-subtitle">
                  <p> Find the best escorts in the world, anywhere you are,all over <br>the US and Canada at any day and any time.</p>
                </div>

                <form class="search-form   job_search_form  js-search-form" action="<%=page1_path%>" method="get" role="search">
                  <div class="search_jobs  search_jobs--frontpage">
                    <div class="search-field-wrapper  search-filter-wrapper">
                      <label for="search_keywords">Keywords</label>
                      <input class="search-field  js-search-suggestions-field" type="text" name="search_keywords" id="search_keywords" placeholder="What are you looking for?" autocomplete="off" value="" />
                    </div>

                    <div class="search_location  search-filter-wrapper">
                      <label for="search_location">Location</label>
                      <input type="text" name="search_location" id="search_location" placeholder="Location" />
                    </div>

                    <div class="search_categories  search-filter-wrapper">
                      <label for="search_categories">Category</label>
                      <select name='search_categories[]' id='search_categories' class='job-manager-category-dropdown ' data-placeholder='Choose a category&hellip;' data-no_results_text='No results match' data-multiple_text='Select Some Options'>
                        <option value="">Any category</option>
                        <option class="level-0" value="11">Arts &amp; Entertainment</option>
                        <option class="level-1" value="12">&nbsp;&nbsp;&nbsp;Art Gallery</option>
                        <option class="level-1" value="43">&nbsp;&nbsp;&nbsp;Movie Theater</option>
                        <option class="level-1" value="13">&nbsp;&nbsp;&nbsp;Museum</option>
                        <option class="level-1" value="14">&nbsp;&nbsp;&nbsp;Stadium</option>
                        <option class="level-1" value="15">&nbsp;&nbsp;&nbsp;Zoo</option>
                        <option class="level-0" value="16">Event</option>
                        <option class="level-0" value="19">Food</option>
                        <option class="level-1" value="20">&nbsp;&nbsp;&nbsp;Bakery</option>
                        <option class="level-1" value="21">&nbsp;&nbsp;&nbsp;Café</option>
                        <option class="level-1" value="22">&nbsp;&nbsp;&nbsp;Pizza Place</option>
                        <option class="level-1" value="23">&nbsp;&nbsp;&nbsp;Restaurant</option>
                        <option class="level-1" value="24">&nbsp;&nbsp;&nbsp;Winery</option>
                        <option class="level-0" value="44">Lodging</option>
                        <option class="level-1" value="46">&nbsp;&nbsp;&nbsp;Apartment</option>
                        <option class="level-1" value="45">&nbsp;&nbsp;&nbsp;Hotels</option>
                        <option class="level-1" value="47">&nbsp;&nbsp;&nbsp;Villas</option>
                        <option class="level-0" value="25">Nightlife</option>
                        <option class="level-1" value="26">&nbsp;&nbsp;&nbsp;Bar</option>
                        <option class="level-1" value="27">&nbsp;&nbsp;&nbsp;Brewery</option>
                        <option class="level-1" value="28">&nbsp;&nbsp;&nbsp;Lounge</option>
                        <option class="level-0" value="30">Outdoors &amp; Recreation</option>
                        <option class="level-1" value="31">&nbsp;&nbsp;&nbsp;Bridge</option>
                        <option class="level-1" value="32">&nbsp;&nbsp;&nbsp;Park</option>
                        <option class="level-0" value="38">Shops</option>
                        <option class="level-1" value="39">&nbsp;&nbsp;&nbsp;Bank</option>
                        <option class="level-1" value="42">&nbsp;&nbsp;&nbsp;Furniture / Home</option>
                      </select>
                    </div>



                    <button class="search-submit" name="submit" id="searchsubmit">
                      <svg class="search-icon" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs></defs>
                        <g id="Layout---Header" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Header-4" transform="translate(-486.000000, -76.000000)" fill="currentColor">
                            <g id="Header" transform="translate(0.000000, 55.000000)">
                              <g id="Search" transform="translate(226.000000, 17.000000)">
                                <path d="M276.815533,20.8726 C276.2478,21.4392667 275.3406,21.4392667 274.801133,20.8726 L270.318733,16.3611333 C267.7374,18.0352667 Anytime264.2478,17.7518 261.9782,15.4539333 C259.3406,12.8155333 259.3406,8.61633333 261.9782,5.979 C264.6166,3.34033333 268.815533,3.34033333 271.4542,5.979 C273.694733,8.21953333 274.035533,11.7374 272.3614,14.3184667 L276.8718,18.8299333 C277.3542,19.3686 277.3542,20.3051333 276.815533,20.8726 L276.815533,20.8726 Z M269.694733,7.6518 C268.020867,5.979 265.297933,5.979 263.624067,7.6518 C261.949933,9.32593333 261.949933,12.0499333 263.624067,13.7227333 C265.297933,15.3966 268.020867,15.3966 269.694733,13.7227333 C271.368867,12.0499333 271.368867,9.32593333 269.694733,7.6518 L269.694733,7.6518 Z" id="Search-Icon"></path>
                              </g>
                            </g>
                          </g>
                        </g>
                      </svg>
                      <span>Search</span>
                    </button>
                  </div>

                  <ul class="job_types">
                    <li>
                      <label for="job_type_eat" class="eat">
                        <input type="checkbox" name="filter_job_type[]" value="eat" id="job_type_eat" /> Eat</label>
                    </li>
                    <li>
                      <label for="job_type_freelance" class="freelance">
                        <input type="checkbox" name="filter_job_type[]" value="freelance" id="job_type_freelance" /> Freelance</label>
                    </li>
                    <li>
                      <label for="job_type_full-time" class="full-time">
                        <input type="checkbox" name="filter_job_type[]" value="full-time" id="job_type_full-time" /> Full Time</label>
                    </li>
                    <li>
                      <label for="job_type_internship" class="internship">
                        <input type="checkbox" name="filter_job_type[]" value="internship" id="job_type_internship" /> Internship</label>
                    </li>
                    <li>
                      <label for="job_type_part-time" class="part-time">
                        <input type="checkbox" name="filter_job_type[]" value="part-time" id="job_type_part-time" /> Part Time</label>
                    </li>
                    <li>
                      <label for="job_type_shop" class="shop">
                        <input type="checkbox" name="filter_job_type[]" value="shop" id="job_type_shop" /> Shop</label>
                    </li>
                    <li>
                      <label for="job_type_stay" class="stay">
                        <input type="checkbox" name="filter_job_type[]" value="stay" id="job_type_stay" /> Stay</label>
                    </li>
                    <li>
                      <label for="job_type_temporary" class="temporary">
                        <input type="checkbox" name="filter_job_type[]" value="temporary" id="job_type_temporary" /> Temporary</label>
                    </li>
                    <li>
                      <label for="job_type_visit" class="visit">
                        <input type="checkbox" name="filter_job_type[]" value="visit" id="job_type_visit" /> Visit</label>
                    </li>
                  </ul>
                  <input type="hidden" name="filter_job_type[]" value="" />
                  <div class="showing_jobs"></div>
                </form>


                <noscript>Your browser does not support JavaScript, or it is disabled. JavaScript must be enabled in order to view listings.</noscript>


              </div>

              <div class="top-categories">

                <a href="#">
                  <span class="cat__icon">
                  	<svg width="24" height="26" viewBox="0 0 24 26" xmlns="http://www.w3.org/2000/svg">
                  		<g transform="translate(-12 -11)" fill="none" fill-rule="evenodd">
                  			<circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24"/>
                				<g fill="currentColor">
                					<path d="M18.372 36.737h-.036c-1.278 0-2.32-1.04-2.32-2.32V24.244c0-.836-.37-1.644-1.04-2.278-1.237-1.163-1.946-2.882-1.946-4.715 0-3.367 2.39-6.106 5.325-6.106 2.938 0 5.325 2.74 5.325 6.106 0 1.833-.71 3.552-1.946 4.715-.672.634-1.043 1.442-1.043 2.278v10.17c0 1.282-1.04 2.322-2.318 2.322zm-.02-24.55c-2.363 0-4.285 2.273-4.285 5.065 0 1.547.59 2.99 1.617 3.96.884.83 1.37 1.907 1.37 3.033v10.17c0 .707.575 1.282 1.28 1.282h.036c.706 0 1.28-.575 1.28-1.28V24.244c0-1.126.487-2.202 1.37-3.034 1.03-.968 1.62-2.41 1.62-3.958.002-2.794-1.922-5.066-4.287-5.066zM29.983 36.737h-.036c-1.28 0-2.32-1.04-2.32-2.32V24.244c0-.836-.37-1.644-1.04-2.278-1.237-1.163-1.946-2.882-1.946-4.715 0-1.406 0-3.155 1.094-4.374.21-.23.49-.357.797-.357.582 0 1.056.46 1.077 1.033l.448 3.343c.01.072.127.053.133-.002l.46-4.1c.015-.487.364-.91.843-1.017.04-.007.075-.013.113-.013h.728c.04 0 .077.004.113.013.478.106.828.53.843 1.016l.46 4.1c.01.075.125.056.132.003l.45-3.343c.02-.572.495-1.032 1.075-1.032.307 0 .588.127.796.358 1.093 1.22 1.093 2.968 1.093 4.374 0 1.833-.71 3.552-1.945 4.715-.67.634-1.042 1.444-1.042 2.278v10.17c-.002 1.282-1.042 2.322-2.323 2.322zm-3.865-23.512l.386.347c-.766.854-.826 2.118-.826 3.68 0 1.547.59 2.99 1.617 3.96.883.83 1.37 1.907 1.37 3.033v10.17c0 .707.575 1.282 1.28 1.282h.036c.706 0 1.282-.575 1.282-1.28V24.244c0-1.126.486-2.202 1.37-3.034 1.028-.968 1.617-2.41 1.617-3.958 0-1.562-.062-2.826-.828-3.68 0 .023-.062.067-.066.09l-.452 3.372c-.072.545-.542.956-1.092.956-.57 0-1.042-.42-1.105-.978l-.46-4.126c-.003-.02-.005-.038-.005-.06l.004-.02h-.533c-.008.023-.03.063-.03.08l-.462 4.126c-.062.557-.533.978-1.095.978-.56 0-1.03-.41-1.1-.956l-.453-3.373c-.003-.02-.003-.044-.003-.067l-.452-.368z"/>
                					<path d="M18.397 21.105c-1.72 0-3.118-1.67-3.118-3.723 0-2.054 1.397-3.724 3.117-3.724.216 0 .39.174.39.39 0 .215-.174.39-.39.39-1.29 0-2.338 1.32-2.338 2.944 0 1.623 1.046 2.944 2.337 2.944.216 0 .39.174.39.39 0 .215-.174.39-.39.39z"/>
                				</g>
                			</g>
                		</svg>
                	</span>
                  <span class="cat__text">Food</span>
                </a>

                <a href="#">
                  <span class="cat__icon">
                  	<svg width="30" height="28" viewBox="0 0 30 28" xmlns="http://www.w3.org/2000/svg">
                  		<g transform="translate(-9 -10)" fill="none" fill-rule="evenodd">
                  			<circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24"/>
                				<g fill="currentColor">
                					<path d="M21.383 31.392c.206-.077.39-.21.53-.38l8.845-10.78c.213-.26.313-.587.28-.922-.034-.335-.195-.637-.455-.85l-5.395-4.427c-.347-.285-.823-.363-1.243-.205-.207.077-.39.21-.53.38l-8.845 10.78c-.214.26-.313.587-.28.922.033.335.194.637.455.85l5.395 4.427c.346.285.823.363 1.243.205zm-6.08-5.802l8.846-10.78c.035-.044.08-.075.13-.094.1-.037.216-.022.305.05l5.395 4.428c.133.108.152.303.043.436l-8.845 10.78c-.036.043-.08.075-.13.093-.1.038-.217.023-.306-.05l-5.395-4.427c-.132-.108-.152-.304-.043-.436z"/>
              						<path d="M20.458 24.595l1.77-.38c.07-.007.14.02.186.073l1.013 1.47c.073.083.18.1.27.067.04-.015.076-.04.104-.073.025-.03.043-.064.05-.106l.186-1.782c.007-.034.022-.065.044-.092.022-.026.05-.048.082-.06l1.71-.53c.04-.017.072-.04.096-.07.09-.11.07-.29-.07-.368l-1.637-.706c-.06-.035-.1-.098-.107-.168l.027-1.81c-.014-.17-.186-.263-.33-.21-.027.01-.054.027-.08.05l-1.177 1.36c-.02.02-.044.033-.07.042-.038.015-.08.018-.123.008l-1.713-.605c-.05-.012-.1-.007-.14.01-.042.014-.078.04-.105.073-.055.067-.075.164-.033.256l.927 1.562c.03.064.025.138-.012.2l-1.104 1.42c-.103.174.037.392.238.37z"/>
              						<path d="M38.827 23.72l-3.344-6.148c-.19-.35-.553-.57-.95-.582-.195-.005-.39.042-.56.135-.218.12-.458.186-.703.205.043-.314.167-.613.374-.864.387-.473.318-1.172-.154-1.56l-5.385-4.418c-.305-.25-.724-.32-1.094-.18-.18.068-.34.183-.465.333-.194.238-.446.42-.73.526-.58.22-1.24.11-1.72-.283-.305-.25-.724-.32-1.094-.18-.18.07-.34.183-.465.334L11.288 24.744c-.387.472-.318 1.172.154 1.56.36.295.583.712.63 1.175.045.462-.093.915-.388 1.274-.387.473-.32 1.172.154 1.56l2.235 1.834 2.113 3.886c.19.35.554.57.95.58.196.006.39-.04.56-.134.27-.146.574-.22.88-.212.624.016 1.196.366 1.494.914.19.348.554.57.95.58.196.006.39-.04.56-.134l15.654-8.513c.54-.293.74-.97.446-1.51-.223-.41-.273-.884-.14-1.332.13-.448.43-.818.84-1.04.54-.295.74-.972.447-1.512zm-26.41 5.637c.457-.556.67-1.256.6-1.972-.072-.715-.417-1.36-.972-1.816-.068-.056-.078-.156-.022-.224L23.27 11.64c.055-.068.157-.076.222-.023.74.608 1.76.776 2.657.438.44-.165.83-.446 1.13-.81.054-.07.157-.076.223-.023l5.384 4.418c.068.056.078.156.022.223-.457.556-.67 1.256-.598 1.97.07.717.415 1.362.97 1.817.068.056.078.156.023.224L22.058 33.58c-.055.068-.157.076-.223.022-.74-.608-1.76-.775-2.657-.437-.44.165-.83.446-1.13.81-.055.068-.157.076-.223.023L12.44 29.58c-.068-.056-.078-.156-.022-.223zm21.522-2.97c.08.15.025.34-.126.423l-8.978 4.882 7.21-8.787 1.893 3.482zm3.985-1.994c-.635.345-1.097.917-1.3 1.61-.206.692-.13 1.424.216 2.058.043.078.015.175-.062.217L21.125 36.79c-.077.042-.175.01-.216-.064-.462-.847-1.346-1.388-2.31-1.412-.472-.012-.942.1-1.36.328-.076.043-.174.01-.215-.064l-.99-1.82 1.188.975c.305.25.724.32 1.094.18.18-.07.342-.184.465-.334.194-.237.447-.42.73-.526.582-.22 1.24-.11 1.72.283.306.25.725.32 1.095.18.18-.068.342-.183.466-.333l.433-.53L34.27 27.65c.298-.163.514-.43.61-.755.096-.324.06-.666-.102-.963L32.7 22.11l1.34-1.633c.387-.473.318-1.172-.154-1.56-.214-.175-.372-.396-.48-.64.357-.036.705-.14 1.023-.313.076-.042.174-.01.215.064l3.344 6.15c.04.077.012.173-.065.215z"/>
              					</g>
              				</g>
              			</svg>
              		</span>
                  <span class="cat__text">Play</span>
                </a>


                <a href="#">
                  <span class="cat__icon">
                  	<svg width="22" height="24" viewBox="0 0 22 24" xmlns="http://www.w3.org/2000/svg">
                  		<g transform="translate(-13 -12)" fill="none" fill-rule="evenodd">
                  			<circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24"/>
                				<g fill="currentColor">
                					<path d="M33.73 20.693c-.09-.11-.183-.223-.274-.34-.088-.113-.166-.442-.235-.733-.136-.576-.306-1.293-.806-1.912-.394-.487-.936-.807-1.415-1.088-.384-.226-.78-.46-.918-.69-.266-.444-.2-.902-.13-1.388.087-.61.25-1.746-1.077-2.164-.477-.15-.896-.223-1.282-.223-1.048 0-1.677.54-2.285 1.063-.49.42-1.044.897-1.968 1.25-.44.17-.938.3-1.466.44-1.27.34-2.712.72-3.7 1.764-.702.74-1.05 1.536-1.33 2.176-.16.362-.31.704-.447.833-.308.287-.607.488-.896.683-.74.498-1.508 1.014-1.463 2.506.02.615.48.964 1.372 1.04-.163.305-.215.506-.23.58-.162.797.02 1.59.497 2.174.478.584 1.22.92 2.032.92h13.494c.368 0 .658.12.816.338.16.218.184.53.07.88l-1.326 4.09c-.288.886-1.358 1.664-2.29 1.664h-8.036c-.957 0-2.127-.773-2.503-1.654l-1.304-3.06c-.156-.367-.58-.537-.946-.38-.366.155-.537.578-.38.945l1.304 3.06c.606 1.42 2.288 2.532 3.83 2.532h8.036c1.57 0 3.178-1.17 3.662-2.663l1.326-4.09c.256-.788.156-1.58-.275-2.173-.033-.046-.07-.087-.108-.13.098-.086.192-.178.276-.28.477-.584.66-1.376.497-2.174-.01-.06-.065-.262-.228-.573.098-.05.188-.107.27-.175 1.392-1.146.417-2.338-.165-3.05zm-17.424.866c.304-.205.682-.46 1.073-.823.356-.332.564-.808.784-1.31.248-.565.528-1.205 1.057-1.764.707-.745 1.884-1.057 3.023-1.36.542-.143 1.1-.29 1.612-.487 1.16-.444 1.843-1.032 2.393-1.504.576-.495.852-.714 1.345-.714.236 0 .514.05.848.156.07.022.11.042.128.053.017.1-.02.356-.045.53-.088.612-.208 1.45.32 2.335.327.545.885.873 1.424 1.19.39.23.795.47 1.024.752.296.365.413.86.527 1.34.113.475.22.924.5 1.285l.296.367c.21.255.558.68.547.817 0 0-.02.07-.174.2-.004 0-.092.05-.402.05h-.028c-.096-.025-.197-.03-.296-.014-.406-.033-.9-.116-1.42-.204-.696-.118-1.417-.24-2.13-.28-.26-.016-.505-.024-.73-.024-.844 0-1.36.105-1.856.207-.523.106-1.017.208-1.978.208h-.078c-.975-.006-1.5-.114-2.008-.218-.48-.1-.978-.2-1.754-.2-.263 0-.54.01-.85.034-.498.037-1.012.09-1.51.14-.814.082-1.583.16-2.14.16-.132 0-.234-.005-.313-.01.06-.41.29-.563.813-.915zm10.85 4.58h-9.447c-.385 0-.71-.138-.916-.39-.206-.25-.277-.597-.206-.948 0-.003.072-.25.396-.68.062-.083.102-.174.124-.268.316-.028.646-.06.984-.096.488-.05.994-.1 1.472-.136.273-.02.516-.03.742-.03.63 0 1.017.078 1.464.17.55.113 1.173.24 2.29.248h.086c1.107 0 1.723-.126 2.267-.238.466-.095.87-.178 1.567-.178.197 0 .414.007.645.02.635.038 1.316.153 1.975.264.5.085.98.164 1.42.207.335.437.418.692.42.692.076.376.005.722-.2.973-.207.252-.532.39-.916.39h-4.17z"/>
                					<path d="M26.81 32.718V29.63c0-.398-.324-.72-.722-.72-.4 0-.722.322-.722.72v3.088c0 .4.323.722.722.722.398 0 .72-.323.72-.722zM23.667 32.718V29.63c0-.398-.323-.72-.72-.72-.4 0-.722.322-.722.72v3.088c0 .4.323.722.72.722.4 0 .722-.323.722-.722zM28.872 33.44c.36 0 .673-.27.716-.638l.357-3.09c.046-.395-.237-.752-.633-.798-.393-.045-.753.238-.8.633l-.357 3.09c-.046.394.238.752.633.798.028.003.056.005.084.005zM20.162 33.44c.027 0 .055-.002.083-.005.396-.046.68-.404.634-.8l-.36-3.088c-.045-.395-.404-.678-.798-.633-.396.046-.68.403-.634.8l.358 3.088c.042.367.354.638.716.638z"/>
                				</g>
                			</g>
                		</svg>
                	</span>
                  <span class="cat__text">Bakery</span>
                </a>


                <a href="#">
                  <span class="cat__icon">
                  	<svg width="19" height="26" viewBox="0 0 19 26" xmlns="http://www.w3.org/2000/svg">
                  		<g transform="translate(-15 -11)" fill="none" fill-rule="evenodd">
                  			<circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24"/>
                  			<g fill="currentColor">
                  				<path d="M32.88 31.044H15.877c-.214 0-.413-.11-.528-.29-.116-.18-.132-.406-.04-.6l8.646-18.65c.103-.22.325-.362.57-.362h.003c.245 0 .467.146.567.37l8.355 18.65c.087.193.07.418-.046.596-.115.178-.314.286-.526.286zM16.858 29.79h15.054l-7.397-16.51-7.657 16.51z"/>
                  				<path d="M24.39 36.644c-.32 0-.58-.26-.58-.582v-16.59c0-.322.26-.582.58-.582.322 0 .583.26.583.582v16.59c0 .32-.26.582-.582.582z"/>
                  				<path d="M24.387 29.796c-.186 0-.37-.083-.494-.24-.213-.272-.166-.667.106-.88l3.58-2.81c.273-.214.667-.166.88.106.215.272.167.666-.105.88l-3.582 2.81c-.114.09-.25.134-.386.134zm-.18-1.634c-.16 0-.32-.06-.443-.182l-3.33-3.31c-.246-.245-.247-.643-.003-.888.245-.246.642-.247.888-.003l3.33 3.31c.246.245.247.642.003.887-.122.124-.283.185-.444.185zm.18-2.31c-.162 0-.323-.06-.445-.184-.244-.246-.243-.642.002-.887l3.078-3.06c.246-.244.643-.242.886.003.244.245.243.642-.002.886l-3.078 3.06c-.122.122-.282.183-.442.183zm-.14-2.22c-.21 0-.414-.104-.533-.296L21.81 20.25c-.183-.294-.092-.68.203-.862.294-.182.68-.09.863.204l1.905 3.085c.183.295.09.68-.203.862-.103.063-.216.093-.33.093z"/>
                  			</g>
                  		</g>
                  	</svg>
                  </span>
                  <span class="cat__text">Park</span>
                </a>


                <a href="#">
                  <span class="cat__icon">
                  	<svg width="24" height="23" viewBox="0 0 24 23" xmlns="http://www.w3.org/2000/svg">
                  		<g transform="translate(-12 -13)" fill="none" fill-rule="evenodd">
                  			<circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24"/>
                				<g fill="currentColor">
                					<path d="M32.945 19.578l2.705 9.47-1.3.372-2.707-9.47 1.302-.372zM14.732 19.58l1.3.37-2.705 9.47-1.302-.37 2.707-9.47z"/>
              						<path d="M32.97 20.44H29.59V19.09h2.03v-4.394c0-.17-.09-.34-.29-.34H16.736c-.276 0-.64.23-.678.355l.002 4.378h2.028v1.353h-3.382v-5.746c0-1.034 1.2-1.694 2.03-1.694h14.593c.92 0 1.64.744 1.64 1.694v5.747zM34.324 34.647h-20.97c-.747 0-1.354-.607-1.354-1.353v-3.382c0-.746.607-1.353 1.353-1.353h20.97c.747 0 1.353.606 1.353 1.352v3.382c0 .746-.606 1.353-1.352 1.353zm-20.97-4.735v3.382h20.97v-3.382h-20.97z"/>
              						<path d="M21.47 21.794h-2.705c-.746 0-1.353-.607-1.353-1.353v-2.028c0-.746.607-1.353 1.353-1.353h2.706c.747 0 1.354.606 1.354 1.352v2.03c0 .745-.607 1.352-1.353 1.352zm-2.705-3.382v2.03h2.706v-2.03h-2.705zM28.912 21.794h-2.706c-.746 0-1.353-.607-1.353-1.353v-2.028c0-.746.607-1.353 1.353-1.353h2.706c.746 0 1.353.606 1.353 1.352v2.03c0 .745-.607 1.352-1.353 1.352zm-2.706-3.382v2.03h2.706v-2.03h-2.706z"/>
              						<path d="M22.147 19.088h3.382v1.353h-3.383zM14.03 33.97h1.352V36H14.03zM32.294 33.97h1.353V36h-1.353z"/>
              					</g>
              				</g>
              			</svg>
              		</span>
                  <span class="cat__text">Hotels</span>
                </a>


                <a href="#">
                  <span class="cat__icon">
                  	<svg width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg">
                  		<g transform="translate(-10 -10)" fill="none" fill-rule="evenodd">
                  			<circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24"/>
                				<path d="M27.017 11L10.8 27.218c-.207.207-.207.547 0 .754l9.43 9.43c.206.207.546.207.753 0L37.2 21.182c.207-.207.207-.547 0-.754L27.77 11c-.206-.207-.546-.207-.753 0zm2.508 12.578l-4.903-4.903 4.658-4.657 4.902 4.902-4.657 4.658zm-5.393 5.393L19.23 24.07l4.657-4.657 4.902 4.903-4.658 4.658zm-5.412 5.412l-4.902-4.902 4.657-4.658 4.903 4.903-4.658 4.657zm8.75-20.063l-1.132-1.132 1.056-1.056 1.13 1.13-1.054 1.057zm-.755.754L25.66 16.13l-1.132-1.132 1.056-1.056 1.13 1.132zm-1.79 1.79l-1.057 1.057-1.13-1.13 1.055-1.056 1.13 1.13zm-1.81 1.81l-1.057 1.057-1.132-1.13 1.056-1.056 1.132 1.13zm-1.793 1.792l-1.056 1.056-1.13-1.13 1.055-1.057 1.132 1.13zm-1.81 1.81l-1.056 1.057-1.13-1.132 1.055-1.055 1.132 1.132zm-1.79 1.792l-1.057 1.056-1.13-1.13 1.055-1.057 1.13 1.13zm-1.81 1.81l-1.057 1.056-1.132-1.13 1.056-1.057 1.13 1.13zm-1.793 1.792l-1.057 1.055-1.13-1.13 1.055-1.057 1.13 1.132zm5.355 7.467l1.055-1.056 1.132 1.132-1.056 1.056-1.13-1.13zm1.81-1.81l1.056-1.057 1.132 1.132-1.056 1.056-1.13-1.132zm1.79-1.792l1.057-1.056 1.13 1.13-1.055 1.056-1.13-1.13zm1.81-1.81l1.057-1.056 1.132 1.13-1.056 1.056-1.132-1.13zm1.793-1.79l1.056-1.057 1.13 1.13-1.055 1.057-1.132-1.13zm1.81-1.812l1.056-1.056 1.13 1.132-1.055 1.055-1.132-1.132zm1.79-1.79l1.057-1.057 1.13 1.13-1.055 1.057-1.13-1.13zm1.81-1.81l1.057-1.057 1.132 1.13-1.056 1.057-1.13-1.13zm1.793-1.793l1.057-1.055 1.13 1.13-1.055 1.057-1.13-1.132z" fill="currentColor"/>
                			</g>
                		</svg>
                	</span>
                  <span class="cat__text">Movie</span>
                </a>


                <a href="#">
                  <span class="cat__icon">
                  	<svg width="24" height="29" viewBox="0 0 24 29" xmlns="http://www.w3.org/2000/svg">
                  		<g transform="translate(-12 -10)" fill="none" fill-rule="evenodd">
                  			<circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24"/>
              					<path d="M36 24.37c0-1.852-.465-3.686-1.34-5.323.005-.06.013-.12.015-.182 0-1.57-.606-2.73-1.14-3.754-.586-1.124-.912-1.82-.642-2.686.043-.137.237-.454-.236-1.056-.473-.602-.97-.305-1.14-.218-1.2.62-2.163 1.506-2.9 2.5-1.462-.59-3.01-.89-4.617-.89-6.617 0-12 5.21-12 11.61 0 6.403 5.383 11.612 12 11.612.87 0 3.52 0 3.52-2.58 0-1.218-.96-1.782-1.66-2.194-.754-.442-1.06-.672-1.06-1.172 0-.337 0-1.36 1.406-1.36h2.1c.173 3.477.502 8.517.52 8.804.028.42.377.747.798.747h2c.42 0 .77-.326.796-.746.02-.29.362-5.502.532-8.996C34.728 27.94 36 26.278 36 24.37zm-4.792-11.126c.06.973.5 1.822.91 2.606.47.903.958 1.836.958 2.992-.04 1.45-1.037 2.505-2.37 2.505-.652 0-1.243-.245-1.662-.69-.478-.508-.702-1.245-.65-2.133.09-1.452.92-3.784 2.814-5.28zm.223 11.458c-.23.074-.473.116-.722.116-.313 0-.612-.06-.888-.172.024-.72.065-1.34.1-1.777.255.048.52.074.788.074.213 0 .42-.02.623-.053.037.444.078 1.067.1 1.812zm-5.224 2.374c-1.386 0-3.005.776-3.005 2.96 0 1.465 1.114 2.118 1.85 2.55.666.39.873.555.873.817 0 .46 0 .98-1.923.98-5.735 0-10.4-4.49-10.4-10.012 0-5.52 4.665-10.012 10.4-10.012 1.305 0 2.565.23 3.76.677-.214.422-.39.85-.532 1.276-.41-.27-.898-.427-1.424-.427-1.43 0-2.593 1.163-2.593 2.592 0 1.43 1.164 2.593 2.594 2.593.5 0 .967-.145 1.364-.392.206.462.467.815.712 1.075.152.163.32.306.495.437-.05.505-.174 1.918-.174 3.626 0 .293.013.732.034 1.263h-2.028zm.593-8.6c-.002.55-.448.994-.996.994s-.994-.446-.994-.994.446-.995.994-.995.994.447.995.995v.002zm3.573 18.153c-.134-2.104-.507-8.06-.565-10.315.292.066.593.102.9.102.247 0 .49-.024.73-.068-.06 2.31-.43 8.192-.564 10.28h-.5zm2.654-9.906c.012-.37.02-.68.02-.91 0-1.65-.11-2.96-.165-3.527.394-.265.736-.606 1.013-1.002.333.992.507 2.036.507 3.086 0 .996-.55 1.885-1.375 2.354zm-15.493-3.437c-1.43 0-2.593 1.163-2.593 2.593s1.164 2.593 2.594 2.593 2.593-1.163 2.593-2.593-1.163-2.593-2.593-2.593zm0 3.588c-.55 0-.995-.446-.995-.995 0-.548.445-.994.994-.994.548 0 .994.446.994.994 0 .55-.446.995-.994.995zm2.033-9.618c-1.43 0-2.592 1.163-2.592 2.592 0 1.43 1.163 2.592 2.592 2.592 1.43 0 2.593-1.163 2.593-2.593s-1.163-2.593-2.593-2.593zm0 3.587c-.548 0-.994-.446-.994-.994 0-.55.446-.995.994-.995.55 0 .995.447.995.995s-.446.994-.995.994z" fill="currentColor"/>
              				</g>
              			</svg>
              		</span>
                  <span class="cat__text">Gallery</span>
                </a>

                <div style="position: relative;"><span class="cta-text">Or browse the highlights</span>
                </div>
              </div>
            </header>
            <!-- .entry-content -->
            <div class="widgets_area">
              <div class="front-page-section">
                <div class="section-wrap">
                  <h3 class="widget_title  widget_title--frontpage">
										Enjoyed by Over 40,000 Escorts & Entertainers
										<span class="widget_subtitle  widget_subtitle--frontpage">
											Explore some of the best tips from around the city from our partners and friends.					
										</span>
									</h3>
                  <div class="categories-wrap  categories-wrap--widget">
                    <ul class="categories  categories--widget">
                      <%@rubmaps.each do |r|%>
                      <li>
                        <div class="category-cover" style="background-image: url(<%=r.images.first.name%>)">
                          <a href="#">
                            <div class="category-icon">
                              <svg width="26" height="24" viewBox="0 0 26 24" xmlns="http://www.w3.org/2000/svg">
                                <g transform="translate(-11 -12)" fill="none" fill-rule="evenodd">
                                  <circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24" />
                                  <g fill="currentColor">
                                    <path d="M28 36h-7v-5h-3v5h-7V12h17v24zm-6-1h5V13H12v22h5v-5h5v5z" />
                                    <path d="M18.5 27.5h-5v-5h5v5zm-4-1h3v-3h-3v3zM25.5 27.5h-5v-5h5v5zm-4-1h3v-3h-3v3zM34.5 27.5h-5v-5h5v5zm-4-1h3v-3h-3v3zM34.5 33.5h-5v-5h5v5zm-4-1h3v-3h-3v3zM18.5 20.5h-5v-5h5v5zm-4-1h3v-3h-3v3zM25.5 20.5h-5v-5h5v5zm-4-1h3v-3h-3v3z" />
                                    <path d="M37 36H27V20h10v16zm-9-1h8V21h-8v14z" />
                                  </g>
                                </g>
                              </svg>
                              <span class="category-count">11</span>
                            </div>
                            <span class="category-text"><%=r.title%></span>
                          </a>
                        </div>
                      </li>
                      <%end%>
<!-- 
                      <li>
                        <div class="category-cover" style="background-image: url(http://tecorb.com/admin/demo/section1/escorts/wp-content/uploads/2015/11/05_listable_demo-300x228.jpg)">
                          <a href="http://tecorb.com/admin/demo/section1/escorts/listing-category/food/">
                            <div class="category-icon">
                              <svg width="24" height="26" viewBox="0 0 24 26" xmlns="http://www.w3.org/2000/svg">
                                <g transform="translate(-12 -11)" fill="none" fill-rule="evenodd">
                                  <circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24" />
                                  <g fill="currentColor">
                                    <path d="M18.372 36.737h-.036c-1.278 0-2.32-1.04-2.32-2.32V24.244c0-.836-.37-1.644-1.04-2.278-1.237-1.163-1.946-2.882-1.946-4.715 0-3.367 2.39-6.106 5.325-6.106 2.938 0 5.325 2.74 5.325 6.106 0 1.833-.71 3.552-1.946 4.715-.672.634-1.043 1.442-1.043 2.278v10.17c0 1.282-1.04 2.322-2.318 2.322zm-.02-24.55c-2.363 0-4.285 2.273-4.285 5.065 0 1.547.59 2.99 1.617 3.96.884.83 1.37 1.907 1.37 3.033v10.17c0 .707.575 1.282 1.28 1.282h.036c.706 0 1.28-.575 1.28-1.28V24.244c0-1.126.487-2.202 1.37-3.034 1.03-.968 1.62-2.41 1.62-3.958.002-2.794-1.922-5.066-4.287-5.066zM29.983 36.737h-.036c-1.28 0-2.32-1.04-2.32-2.32V24.244c0-.836-.37-1.644-1.04-2.278-1.237-1.163-1.946-2.882-1.946-4.715 0-1.406 0-3.155 1.094-4.374.21-.23.49-.357.797-.357.582 0 1.056.46 1.077 1.033l.448 3.343c.01.072.127.053.133-.002l.46-4.1c.015-.487.364-.91.843-1.017.04-.007.075-.013.113-.013h.728c.04 0 .077.004.113.013.478.106.828.53.843 1.016l.46 4.1c.01.075.125.056.132.003l.45-3.343c.02-.572.495-1.032 1.075-1.032.307 0 .588.127.796.358 1.093 1.22 1.093 2.968 1.093 4.374 0 1.833-.71 3.552-1.945 4.715-.67.634-1.042 1.444-1.042 2.278v10.17c-.002 1.282-1.042 2.322-2.323 2.322zm-3.865-23.512l.386.347c-.766.854-.826 2.118-.826 3.68 0 1.547.59 2.99 1.617 3.96.883.83 1.37 1.907 1.37 3.033v10.17c0 .707.575 1.282 1.28 1.282h.036c.706 0 1.282-.575 1.282-1.28V24.244c0-1.126.486-2.202 1.37-3.034 1.028-.968 1.617-2.41 1.617-3.958 0-1.562-.062-2.826-.828-3.68 0 .023-.062.067-.066.09l-.452 3.372c-.072.545-.542.956-1.092.956-.57 0-1.042-.42-1.105-.978l-.46-4.126c-.003-.02-.005-.038-.005-.06l.004-.02h-.533c-.008.023-.03.063-.03.08l-.462 4.126c-.062.557-.533.978-1.095.978-.56 0-1.03-.41-1.1-.956l-.453-3.373c-.003-.02-.003-.044-.003-.067l-.452-.368z" />
                                    <path d="M18.397 21.105c-1.72 0-3.118-1.67-3.118-3.723 0-2.054 1.397-3.724 3.117-3.724.216 0 .39.174.39.39 0 .215-.174.39-.39.39-1.29 0-2.338 1.32-2.338 2.944 0 1.623 1.046 2.944 2.337 2.944.216 0 .39.174.39.39 0 .215-.174.39-.39.39z" />
                                  </g>
                                </g>
                              </svg>
                              <span class="category-count">33</span>
                            </div>
                            <span class="category-text">Eat & Drink</span>
                          </a>
                        </div>
                      </li>

                      <li>
                        <div class="category-cover" style="background-image: url(http://tecorb.com/admin/demo/section1/escorts/wp-content/uploads/2015/11/00_listable_demo-300x186.jpg)">
                          <a href="#">
                            <div class="category-icon">
                              <svg width="27" height="24" viewBox="0 0 27 24" xmlns="http://www.w3.org/2000/svg">
                                <g transform="translate(-10 -11)" fill="none" fill-rule="evenodd">
                                  <circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24" />
                                  <path d="M36.25 34.59H10.584c-.323 0-.584-.263-.584-.585 0-.322.26-.583.584-.583H36.25c.322 0 .584.26.584.583 0 .322-.262.584-.584.584zm-17.5-5.835c.322 0 .583.26.583.584 0 .32-.26.582-.583.582h-4.666c-.323 0-.584-.26-.584-.583 0-.324.26-.585.584-.585h.583v-7.583h-.583c-.323 0-.584-.26-.584-.583 0-.324.26-.585.584-.585h4.666c.322 0 .583.26.583.584 0 .32-.26.582-.583.582h-.583v7.583h.583zM17 21.172h-1.166v7.583H17v-7.583zm8.75 7.583c.322 0 .583.26.583.584 0 .32-.26.582-.583.582h-4.666c-.323 0-.584-.26-.584-.583 0-.324.26-.585.584-.585h.583v-7.583h-.583c-.323 0-.584-.26-.584-.583 0-.324.26-.585.584-.585h4.666c.322 0 .583.26.583.584 0 .32-.26.582-.583.582h-.583v7.583h.583zM24 21.172h-1.166v7.583H24v-7.583zm11.084 10.5c0 .322-.26.583-.584.583H12.333c-.322 0-.583-.26-.583-.583 0-.322.26-.583.583-.583H34.5c.323 0 .584.26.584.582zm-2.334-2.917c.322 0 .583.26.583.584 0 .32-.26.582-.583.582h-4.666c-.323 0-.584-.26-.584-.583 0-.324.26-.585.584-.585h.583v-7.583h-.583c-.323 0-.584-.26-.584-.583 0-.324.26-.585.584-.585h4.666c.322 0 .583.26.583.584 0 .32-.26.582-.583.582h-.583v7.583h.583zM31 21.172h-1.166v7.583H31v-7.583zm-19.833-3.5L23.417 11l12.25 6.672v1.167h-24.5V17.67zm21.898 0l-9.648-4.99-9.686 4.99h19.335z" fill="currentColor" />
                                </g>
                              </svg>
                              <span class="category-count">7</span>
                            </div>
                            <span class="category-text">Visit</span>
                          </a>
                        </div>
                      </li>


                      <li>
                        <div class="category-cover" style="background-image: url(http://tecorb.com/admin/demo/section1/escorts/wp-content/uploads/2015/11/03_listable_demo-300x200.jpg)">
                          <a href="#">
                            <div class="category-icon">
                              <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
                                <g transform="translate(-14 -12)" fill="none" fill-rule="evenodd">
                                  <circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24" />
                                  <path d="M33.333 19.065h-4V17.03c0-2.602-2.18-5.03-4.766-5.03C21.98 12 20 14.428 20 17.03v2.035h-4l-2 14.912h22l-2.667-14.912zm-12-2.033c0-1.998 1.248-3.462 3.234-3.462 1.985 0 3.433 1.464 3.433 3.462v2.033h-6.667v-2.033zm-4 3.388H20v.68c-.36.233-.6.64-.6 1.104 0 .722.58 1.308 1.292 1.308.714 0 1.292-.586 1.292-1.308 0-.486-.262-.91-.65-1.135v-.65H28v.91c-.206.23-.333.537-.333.874 0 .722.578 1.308 1.292 1.308.712 0 1.29-.586 1.29-1.308 0-.59-.386-1.09-.916-1.252v-.532H32l2 12.2H16l1.334-12.2z" fill="currentColor" />
                                </g>
                              </svg>
                              <span class="category-count">13</span>
                            </div>
                            <span class="category-text">Shop</span>
                          </a>
                        </div>
                      </li> -->
                    </ul>
                    <!-- .categories -->
                  </div>
                  <!-- .categories-wrap -->
                </div>
              </div>
              <div class="front-page-section">
                <div class="section-wrap">
                  <div class="widget_front_page_listing_cards" itemscope itemtype="http://schema.org/LocalBusiness">
                    <h3 class="widget_title  widget_title--frontpage">
                    	Best Things to Do in the City
                    	<span class="widget_subtitle--frontpage">
												Explore some of the best tips from around the world from our partners and friends.
											</span>
										</h3>
                    <div class="grid  grid--widget  list">

                      <%@escorts.each do |e|%>
                      <a href="<%=page2_path%>" data-no-turbolink = true class="grid__item  grid__item--widget">
                        <article class="card  card--listing  card--widget  " data-latitude="51.5022081" data-longitude="-0.1599428" data-img="<%=e.images.first.name%>" data-permalink="http://tecorb.com/admin/demo/section1/escorts/listings/bar-boloud/">
                          <aside class="card__image" style="background-image: url(<%=e.images.first.name%>);">
                          </aside>
                          <div class="card__content">
                            <h2 class="card__title" itemprop="name"><%=e.title%></h2>
                            <div class="card__tagline"><%=e.contact%></div>
                            <footer class="card__footer">
                              <div class="rating  card__rating">
                                <span class="js-average-rating">4.0</span>
                              </div>
                              <ul class="card__tags">
                                <li>
                                  <div class="card__tag">
                                    <div class="pin__icon">
                                      <svg width="24" height="26" viewBox="0 0 24 26" xmlns="http://www.w3.org/2000/svg">
                                        <g transform="translate(-12 -9)" fill="none" fill-rule="evenodd">
                                          <circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24" />
                                          <g fill="currentColor">
                                            <path d="M23.7 34.833h-7c-.367 0-.667-.3-.667-.666V18.8c0-1.2.834-2.2 1.934-2.5V9.833c0-.366.3-.666.666-.666h.934c.366 0 .666.3.666.666 0 .367-.3.667-.666.667H19.3v6.4c0 .367-.3.667-.667.667-.7 0-1.266.566-1.266 1.233v14.7h5.666V18.8c0-.7-.566-1.233-1.233-1.233-.367 0-.7-.3-.7-.667V9.833c0-.366.3-.666.667-.666.366 0 .666.3.666.666v6.5c1.1.3 1.934 1.3 1.934 2.5V34.2c0 .333-.3.633-.667.633z" />
                                            <path d="M21.633 21.267H16.7c-.367 0-.667-.3-.667-.667 0-.367.3-.667.667-.667h4.933c.367 0 .667.3.667.667 0 .367-.3.667-.667.667zM30.1 30.267c-2.2 0-3.733-.7-4.567-2.067-1.466-2.467-.033-6.467 1.067-8.433.167-.334.567-.434.9-.267.333.167.433.567.267.9-.867 1.6-2.234 5.167-1.067 7.133.567.934 1.7 1.434 3.433 1.434 1.7 0 2.867-.467 3.434-1.434 1.166-1.966-.2-5.5-1.067-7.133-.167-.333-.067-.733.267-.9.333-.167.733-.067.9.267 1.066 1.966 2.533 5.966 1.066 8.433-.866 1.367-2.4 2.067-4.633 2.067z" />
                                            <path d="M30.1 34.833c-.367 0-.667-.3-.667-.666V29.6c0-.367.3-.667.667-.667.367 0 .667.3.667.667v4.567c0 .366-.3.666-.667.666z" />
                                            <path d="M32.4 34.833h-4.6c-.367 0-.667-.3-.667-.666 0-.367.3-.667.667-.667h4.6c.367 0 .667.3.667.667 0 .366-.3.666-.667.666zM31.9 23.9h-5.967c-.366 0-.666-.3-.666-.667 0-.366.3-.666.666-.666H31.9c.367 0 .667.3.667.666 0 .367-.3.667-.667.667zM21.633 30.267H16.7c-.367 0-.667-.3-.667-.667 0-.367.3-.667.667-.667h4.933c.367 0 .667.3.667.667 0 .367-.3.667-.667.667z" />
                                          </g>
                                        </g>
                                      </svg>
                                    </div>
                                  </div>
                                </li>
                                <li>
                                  <div class="card__tag">
                                    <div class="pin__icon">
                                      <svg width="24" height="26" viewBox="0 0 24 26" xmlns="http://www.w3.org/2000/svg">
                                        <g transform="translate(-12 -11)" fill="none" fill-rule="evenodd">
                                          <circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24" />
                                          <g fill="currentColor">
                                            <path d="M18.372 36.737h-.036c-1.278 0-2.32-1.04-2.32-2.32V24.244c0-.836-.37-1.644-1.04-2.278-1.237-1.163-1.946-2.882-1.946-4.715 0-3.367 2.39-6.106 5.325-6.106 2.938 0 5.325 2.74 5.325 6.106 0 1.833-.71 3.552-1.946 4.715-.672.634-1.043 1.442-1.043 2.278v10.17c0 1.282-1.04 2.322-2.318 2.322zm-.02-24.55c-2.363 0-4.285 2.273-4.285 5.065 0 1.547.59 2.99 1.617 3.96.884.83 1.37 1.907 1.37 3.033v10.17c0 .707.575 1.282 1.28 1.282h.036c.706 0 1.28-.575 1.28-1.28V24.244c0-1.126.487-2.202 1.37-3.034 1.03-.968 1.62-2.41 1.62-3.958.002-2.794-1.922-5.066-4.287-5.066zM29.983 36.737h-.036c-1.28 0-2.32-1.04-2.32-2.32V24.244c0-.836-.37-1.644-1.04-2.278-1.237-1.163-1.946-2.882-1.946-4.715 0-1.406 0-3.155 1.094-4.374.21-.23.49-.357.797-.357.582 0 1.056.46 1.077 1.033l.448 3.343c.01.072.127.053.133-.002l.46-4.1c.015-.487.364-.91.843-1.017.04-.007.075-.013.113-.013h.728c.04 0 .077.004.113.013.478.106.828.53.843 1.016l.46 4.1c.01.075.125.056.132.003l.45-3.343c.02-.572.495-1.032 1.075-1.032.307 0 .588.127.796.358 1.093 1.22 1.093 2.968 1.093 4.374 0 1.833-.71 3.552-1.945 4.715-.67.634-1.042 1.444-1.042 2.278v10.17c-.002 1.282-1.042 2.322-2.323 2.322zm-3.865-23.512l.386.347c-.766.854-.826 2.118-.826 3.68 0 1.547.59 2.99 1.617 3.96.883.83 1.37 1.907 1.37 3.033v10.17c0 .707.575 1.282 1.28 1.282h.036c.706 0 1.282-.575 1.282-1.28V24.244c0-1.126.486-2.202 1.37-3.034 1.028-.968 1.617-2.41 1.617-3.958 0-1.562-.062-2.826-.828-3.68 0 .023-.062.067-.066.09l-.452 3.372c-.072.545-.542.956-1.092.956-.57 0-1.042-.42-1.105-.978l-.46-4.126c-.003-.02-.005-.038-.005-.06l.004-.02h-.533c-.008.023-.03.063-.03.08l-.462 4.126c-.062.557-.533.978-1.095.978-.56 0-1.03-.41-1.1-.956l-.453-3.373c-.003-.02-.003-.044-.003-.067l-.452-.368z" />
                                            <path d="M18.397 21.105c-1.72 0-3.118-1.67-3.118-3.723 0-2.054 1.397-3.724 3.117-3.724.216 0 .39.174.39.39 0 .215-.174.39-.39.39-1.29 0-2.338 1.32-2.338 2.944 0 1.623 1.046 2.944 2.337 2.944.216 0 .39.174.39.39 0 .215-.174.39-.39.39z" />
                                          </g>
                                        </g>
                                      </svg>
                                    </div>
                                  </div>
                                </li>
                              </ul>


                              <div class="address  card__address">
                                <div itemprop="streetAddress">
                                  <span class="address__street">Knightsbridge</span>
                                  <span class="address__street-no">66</span>
                                </div>
                                <span class="address__city" itemprop="addressLocality">London</span>
                                <span class="address__postcode" itemprop="postalCode">SW1X 7LA</span>
                                <span class="address__state-short" itemprop="addressRegion">Greater London</span>
                                <span class="address__country-short" style="font-weight: bolder" itemprop="addressCountry">GB</span> </div>
                            </footer>
                          </div>
                          <!-- .card__content -->
                        </article>
                        <!-- .card.card--listing -->
                      </a>
                      <%end%>

                    </div>


                  </div>
                </div>
              </div>
              <div class="front-page-section">
                <div class="section-wrap">
                  <h3 class="widget_title  widget_title--frontpage">
										See How It Works
										<span class="widget_subtitle  widget_subtitle--frontpage">
											Discover how Listable can you help you find everything you want.
										</span>
									</h3>

                  <div class="grid  grid--widget">
                    <div class="grid__item  grid__item--widget">
                      <div class="card  card--post  card--feature  card--widget">
                        <div class="card__content">
                          <div class="card__title">Choose What To Do</div>
                          Looking for a cozy hotel to stay, a restaurant to eat, a museum to visit or a mall to do some shopping? 
                        </div>
                        <!-- .card__content -->
                      </div>
                      <!-- .card.card--post.card--feature -->
                    </div>
                    <!-- .grid__item -->

                    <div class="grid__item  grid__item--widget">
                      <div class="card  card--post  card--feature  card--widget">
                        <div class="card__content">
                          <div class="card__title">Find What You Want</div>
                          Search and filter hundreds of listings, read reviews, explore photos and find the perfect spot. 
                          </div>
                        <!-- .card__content -->
                      </div>
                      <!-- .card.card--post.card--feature -->
                    </div>
                    <!-- .grid__item -->

                    <div class="grid__item  grid__item--widget">
                      <div class="card  card--post  card--feature  card--widget">
                        <div class="card__content">
                          <div class="card__title">Explore Amazing Places</div>
                          Go and have a good time or even make a booking directly from the listing page. All of those, thanks to Listable! 
                          </div>
                        <!-- .card__content -->
                      </div>
                      <!-- .card.card--post.card--feature -->
                    </div>
                    <!-- .grid__item -->

                  </div>
                  <!-- .grid -->

                </div>
              </div>
              <div class="front-page-section">
                <div class="section-wrap">
                  <h3 class="widget_title  widget_title--frontpage">
										Tips &amp; Articles
										<span class="widget_subtitle  widget_subtitle--frontpage">
											Browse the latest articles from our blog.
										</span>
									</h3>
                  <div class="grid  grid--widget  list">
                    <div class="grid__item  grid__item--widget">
                      <article id="post-250" class="card card--post post-250 post type-post status-publish format-standard has-post-thumbnail hentry category-travelling tag-adventure tag-art tag-culture tag-food tag-packing tag-travel tag-world">
                        <a href="#">
                          <aside class="card__image" style="background-image: url('http://tecorb.com/admin/demo/section1/escorts/wp-content/uploads/2015/11/03_listable_demo-450x300.jpg')">
                          </aside>
                        </a>
                        <div class="card__content">
                          <h2 class="card__title">
                          	<a href="http://tecorb.com/admin/demo/section1/escorts/2015/10/20/etiquette-tips-for-travellers/" rel="bookmark">Etiquette tips for travellers</a>
                          </h2>
	                        <div class="card__meta">
	                          <span class="posted-on"><a href="http://tecorb.com/admin/demo/section1/escorts/2015/10/20/etiquette-tips-for-travellers/" rel="bookmark"><time class="entry-date published updated" datetime="2015-10-20T12:25:49+00:00">October 20, 2015</time></a></span>
	                          <ul class="card__links">
	                            <li><a href="http://tecorb.com/admin/demo/section1/escorts/category/travelling/">Travelling</a>
	                            </li>
	                          </ul>
	                        </div>
	                        <!-- .entry-meta -->
	                      </div>
	                      <!-- .entry-header -->
	                    </article>
                    <!-- #post-## -->
                    </div>

                    <div class="grid__item  grid__item--widget">
                      <article id="post-1" class="card card--post post-1 post type-post status-publish format-standard hentry category-uncategorized">
                        <a href="#">
                          <aside class="card__image"></aside>
                        </a>
                        <div class="card__content">
                          <h2 class="card__title">
                          	<a href="#" rel="bookmark">Hello world!</a>
                          </h2>
                          <div class="card__meta">
                            <span class="posted-on">
                            	<a href="#" rel="bookmark">
                            		<time class="entry-date published updated" datetime="2016-04-27T13:20:42+00:00">April 27, 2016</time>
                            	</a>
                            </span>
                            <ul class="card__links">
                              <li>
                              	<a href="#">Uncategorized</a>
                              </li>
                            </ul>
                          </div>
                          <!-- .entry-meta -->
                        </div>
                        <!-- .entry-header -->
                      </article>
                      <!-- #post-## -->
                    </div>


                    <div class="grid__item  grid__item--widget">
                      <article id="post-326" class="card card--post post-326 post type-post status-publish format-standard has-post-thumbnail hentry category-culture tag-community tag-culture tag-tips">
                        <a href="#">
                          <aside class="card__image" style="background-image: url('http://tecorb.com/admin/demo/section1/escorts/wp-content/uploads/2015/11/13_listable_demo-450x253.jpg')"></aside>
                        </a>
                        <div class="card__content">
                          <h2 class="card__title"><a href="http://tecorb.com/admin/demo/section1/escorts/2015/10/10/the-biggest-annual-gathering-comunity/" rel="bookmark">The Annual Gathering Comunity</a></h2>
                          <div class="card__meta">
                            <span class="posted-on">
                            	<a href="http://tecorb.com/admin/demo/section1/escorts/2015/10/10/the-biggest-annual-gathering-comunity/" rel="bookmark">
                            		<time class="entry-date published updated" datetime="2015-10-10T06:57:11+00:00">October 10, 2015</time>
                            	</a>
                            </span>
                            <ul class="card__links">
                              <li>
                              	<a href="#">Culture</a>
                              </li>
                            </ul>
                          </div>
                          <!-- .entry-meta -->
                        </div>
                        <!-- .entry-header -->
                      </article>
                      <!-- #post-## -->
                    </div>
                  </div>
                  <!-- .grid.list -->
                  <div class="nav-links">
                    <div class="nav-next">
                      <a href="#">View All</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <!-- #post-## -->
        </main>
        <!-- #main -->
      </div>
      <!-- #primary -->


    </div>
    <!-- #content -->

    <%= render "footer"%>
    <!-- #colophon -->
  </div>
  <!-- #page -->

  <div class="hide">
    <div class="arrow-icon-svg">
      <svg width="25" height="23" viewBox="0 0 25 23" xmlns="http://www.w3.org/2000/svg">
        <path d="M24.394 12.81c.04-.043.08-.084.114-.13.02-.02.04-.047.055-.07l.025-.034c.258-.345.412-.773.412-1.24 0-.464-.154-.89-.412-1.237-.01-.02-.022-.036-.035-.05l-.045-.06c-.035-.044-.073-.09-.118-.13L15.138.61c-.814-.813-2.132-.813-2.946 0-.814.814-.814 2.132 0 2.947l5.697 5.7H2.08c-1.148 0-2.08.93-2.08 2.083 0 1.15.932 2.082 2.084 2.085H17.89l-5.7 5.695c-.814.815-.814 2.137 0 2.95.814.815 2.132.815 2.946 0l9.256-9.255c-.004-.003 0-.006 0-.006z" fill="currentColor" fill-rule="evenodd" />
      </svg>
    </div>
    <div class="cluster-icon-svg">
      <svg width="50px" height="62px" viewBox="0 0 50 62" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
              <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
              <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
          </filter>
          <path id="unique-path-2" d="M6.75141997,6.76666667 C0.287315594,13.2746963 -1.50665686,22.6191407 1.24745785,30.7382815 C7.20204673,48.0746963 23.0106822,58 23.0106822,58 C23.0106822,58 38.6298497,48.1382815 44.6475946,30.9969185 C44.6475946,30.9333333 44.7107506,30.8697481 44.7107506,30.8027259 C47.5280214,22.6191407 45.7340489,13.2746963 39.2699445,6.76666667 C30.3086168,-2.25555556 15.7127477,-2.25555556 6.75141997,6.76666667 Z"></path>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-3">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
              <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
              <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
          </filter>
          <path id="unique-path-4" d="M8.87079997,8.83664825 C3.24983965,14.4470186 1.6898636,22.5025742 4.08474595,29.5018334 C9.26264933,44.4470186 23.0092889,53.0033149 23.0092889,53.0033149 C23.0092889,53.0033149 36.5911736,44.5018334 41.8239953,29.7247964 C41.8239953,29.6699816 41.8789136,29.6151668 41.8789136,29.557389 C44.3287142,22.5025742 42.7687382,14.4470186 37.1477778,8.83664825 C29.355319,1.05887047 16.6632588,1.05887047 8.87079997,8.83664825 Z"></path>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-5">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
              <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
              <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
          </filter>
          <path id="unique-path-6" d="M10.28372,10.25 C5.22485568,15.2993333 3.82087724,22.5493333 5.97627136,28.8486667 C10.6363844,42.2993333 23.00836,50 23.00836,50 C23.00836,50 35.2320563,42.3486667 39.9415958,29.0493333 C39.9415958,29 39.9910222,28.9506667 39.9910222,28.8986667 C42.1958428,22.5493333 40.7918644,15.2993333 35.7330001,10.25 C28.7197871,3.25 17.296933,3.25 10.28372,10.25 Z"></path>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-7">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
              <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
              <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
          </filter>
          <path id="unique-path-8" d="M11.69664,11.6666667 C7.19987172,16.154963 5.95189088,22.5994074 7.86779676,28.1988148 C12.0101195,40.154963 23.0074311,47 23.0074311,47 C23.0074311,47 33.8729389,40.1988148 38.0591962,28.3771852 C38.0591962,28.3333333 38.1031309,28.2894815 38.1031309,28.2432593 C40.0629714,22.5994074 38.8149905,16.154963 34.3182223,11.6666667 C28.0842552,5.44444444 17.9306071,5.44444444 11.69664,11.6666667 Z"></path>
        </defs>
        <g id="Page---Listings-Archive" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Pin-4" transform="translate(2.000000, 1.000000)">
            <g id="Pin-Copy-4" filter="url(#filter-1)">
              <use fill="#FFFFFF" xlink:href="#unique-path-2"></use>
              <use id="svgCluster1" fill="currentColor" xlink:href="#unique-path-2"></use>
            </g>
            <g id="Pin-Copy-3" filter="url(#filter-3)">
              <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#unique-path-4"></use>
              <use id="svgCluster2" fill="none" xlink:href="#unique-path-4"></use>
            </g>
            <g id="Pin-Copy-6" filter="url(#filter-5)">
              <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#unique-path-6"></use>
              <use id="svgCluster3" fill="none" xlink:href="#unique-path-6"></use>
            </g>
            <g id="Pin-Copy-5" filter="url(#filter-7)">
              <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#unique-path-8"></use>
              <use id="svgCluster4" fill="none" xlink:href="#unique-path-8"></use>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="selected-icon-svg">
      <svg width="48px" height="59px" viewBox="0 0 48 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
              <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
              <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
          </filter>
          <path id="path-2" d="M6.47133474,6.469534 C0.275396197,12.691788 -1.44415263,21.6259064 1.19570658,29.3885257 C6.90326708,45.9636772 22.0560753,55.4531486 22.0560753,55.4531486 C22.0560753,55.4531486 37.0272756,46.0244703 42.7953721,29.6358057 C42.7953721,29.5750126 42.8559081,29.5142195 42.8559081,29.4501403 C45.5563033,21.6259064 43.8367544,12.691788 37.6408159,6.469534 C29.0512523,-2.15651133 15.0608983,-2.15651133 6.47133474,6.469534 Z"></path>
        </defs>
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(2.000000, 1.000000)">
            <g id="Pin" filter="url(#filter-1)">
              <use fill="#FFFFFF" xlink:href="#path-2"></use>
              <use id="selected" xlink:href="#path-2"></use>
            </g>
            <ellipse id="oval" fill="#FFFFFF" cx="22" cy="22.0243094" rx="18" ry="18.0198895"></ellipse>
          </g>
        </g>
      </svg>
    </div>
    <div class="empty-icon-svg">
      <svg width="48px" height="60px" viewBox="0 0 48 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <!-- Generator: Sketch 3.3.3 (12081) - http://www.bohemiancoding.com/sketch -->
        <title>path-2</title>
        <desc>Created with Sketch.</desc>
        <defs>
          <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="1" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.35 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
              <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
              <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
          </filter>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <path d="M8.47133474,8.077269 C2.2753962,14.299523 0.55584737,23.2336414 3.19570658,30.9962607 C8.90326708,47.5714122 24.0560753,57.0608836 24.0560753,57.0608836 C24.0560753,57.0608836 39.0272756,47.6322053 44.7953721,31.2435407 C44.7953721,31.1827476 44.8559081,31.1219545 44.8559081,31.0578753 C47.5563033,23.2336414 45.8367544,14.299523 39.6408159,8.077269 C31.0512523,-0.54877633 17.0608983,-0.54877633 8.47133474,8.077269 L8.47133474,8.077269 Z M24,33.607735 C29.5228475,33.607735 34,29.1305825 34,23.607735 C34,18.0848875 29.5228475,13.607735 24,13.607735 C18.4771525,13.607735 14,18.0848875 14,23.607735 C14,29.1305825 18.4771525,33.607735 24,33.607735 L24,33.607735 Z" id="path-2" fill="#FFFFFF" filter="url(#filter-1)" sketch:type="MSShapeGroup"></path>
        </g>
      </svg>
    </div>
    <div class="card-pin-svg">
      <svg width="14px" height="20px" viewBox="0 0 14 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <path d="M7,0 C3.13383665,0 0,3.0828692 0,6.88540084 C0,10.68827 6.33390528,20 7,20 C7.66609472,20 14,10.68827 14,6.88540084 C14,3.0828692 10.8661633,0 7,0 L7,0 Z M7,9.87341772 C5.2947838,9.87341772 3.91146191,8.51274262 3.91146191,6.83544304 C3.91146191,5.15814346 5.2947838,3.79746835 7,3.79746835 C8.7052162,3.79746835 10.0885381,5.15814346 10.0885381,6.83544304 C10.0885381,8.51274262 8.7052162,9.87341772 7,9.87341772 L7,9.87341772 Z" id="Imported-Layers-Copy-5" fill="currentColor" sketch:type="MSShapeGroup"></path>
        </g>
      </svg>
    </div>
  </div>


  <script type='text/javascript' src='//maps.google.com/maps/api/js?v=3.exp&#038;libraries=places&#038;ver=3.22'></script>
  <script type='text/javascript'>
    /* <![CDATA[ */
    var listable_params = {
      "login_url": "http:\/\/tecorb.com\/admin\/demo\/section1\/escorts\/wp-login.php",
      "listings_page_url": "http:\/\/tecorb.com\/admin\/demo\/section1\/escorts\/jobs\/",
      "strings": {
        "wp-job-manager-file-upload": "Add Photo",
        "no_job_listings_found": "No results",
        "results-no": "Results"
      }
    };
    /* ]]> */

    

  </script>
  <script type='text/javascript' src='http://tecorb.com/admin/demo/section1/escorts/wp-content/themes/listable/assets/js/main.js?ver=1.6.0'></script>

</div>

<script type="text/javascript">
// $(document).ready(function () {
jQuery(function($){

    var activeDiv = 1;
    showDiv(activeDiv); // show first one because all are hidden by default
    var timer = setInterval(changeDiv, 4000);

    function changeDiv() {
        activeDiv++;
        if (activeDiv == 4) {
            activeDiv = 1;
        }
        showDiv(activeDiv);
    }

    function showDiv(num) {
        $('span.display').hide(); // hide all
        $('#div' + num).fadeIn(); // show active
    }

});

</script>