<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2> My Business</h2>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
      <div class="col-lg-12">
          <div class="ibox float-e-margins">
              <div class="ibox-title">
                  <h5>My Business</h5>

                  <div class="ibox-tools">
                      <a class="collapse-link">
                          <i class="fa fa-chevron-up"></i>
                      </a>
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <i class="fa fa-wrench"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-user">
                          <li><a href="#">Config option 1</a>
                          </li>
                          <li><a href="#">Config option 2</a>
                          </li>
                      </ul>
                      <a class="close-link">
                          <i class="fa fa-times"></i>
                      </a>
                  </div>
              </div>
              <div class="ibox-content">

                  <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8">
                      <thead>
                      <tr>

                          <th data-toggle="true">Title</th>
                          <th>Description</th>
                          <th>Email</th>
                          <th data-hide="all">Contact</th>
                          <th data-hide="all">Street_Address</th>
                          <th data-hide="all">State</th>
                          <th data-hide="all">Pin</th>
                          <th data-hide="all">City</th>
                          <th data-hide="all">Tag_line</th>
                          <th data-hide="all">Rating</th>
                          <th>Edit</th>
                      </tr>
                      </thead>
                      <tbody>
                        <%@subcats.each do |s|%>
                      <tr>
                        <td><%=s.title%></td>
                        <td><%=s.description%></td>
                        <td><%=s.email%></td>
                        <td><%=s.contact%></td>
                        <td><%=s.street_address%></td>
                        <td><%=s.state%></td>
                        <td><%=s.pin%></td>
                        <td><%=s.city%></td>
                        <td><%=s.tag_line%></td>
                        <td><%=s.rating%></td>
                        <td><%=link_to "edit",business_edit_path(s.id)%></td>
                      </tr>
                       <%end%>
                      </tbody>
                      <tfoot>
                      <tr>
                          <td colspan="5">
                              <ul class="pagination pull-right"></ul>
                          </td>
                      </tr>
                      </tfoot>
                  </table>

              </div>
          </div>
      </div>
  </div>
</div>        

