<div class="mainbox col-md-10 col-md-offset-2 col-sm-8 col-sm-offset-1" role="dialog"> 
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title" style="color:white">Profile</h3>
    </div>
    <div style="padding-top:30px" class="panel-body">
      <div class="row">
        <div class="col-md-4" align="center"> 
          <%if @user.image.present?%>
            <img alt="user profile" src="<%@user.image%>" >
          <%else%>
            <% if @user.gender =="female" %>
              <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> 
            <%else%>
             <img src="http://www.itdwebdesign.com/images/team/you.jpg" class="irc_mi iQvt2KU5gmBA-pQOPx8XEepE" alt="" height="200" width="100%">
            <%end%>
         <%end%>
        </div>
        <div class=" col-md-8">
          <div class="table-responsive"> 
            <table class="table table-condensed table-striped">
              <tbody>
                <tr>
                  <th>FirstName</th>
                  <td><%=@user.fname%></td>
                </tr>
                <tr>
                  <th>LastName</th>
                  <td><%=@user.lname%></td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td><%=@user.email%></td>
                </tr>
                <tr>
                  <th>Phone Number</th>
                  <td><%=@user.contact%></td>      
                </tr> 
                <tr> 
                  <th>gender</th>
                  <td><%=@user.gender%></td>
                </tr>   
              </tbody>
            </table>
            <%=link_to "Edit Profile",edit_business_path(current_business_user.id)%>
          </div>
        </div>
     </div>
   </div>
  </div>
</div>  
