<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <td><%=@subcat.title%></td>
      </tr>
      <tr>   
        <th>description</th>
        <td><%=@subcat.description%></td>
      </tr>
      <tr>  
        <th>email</th>
        <td><%=@subcat.email%></td>
      </tr> 
      <tr> 
        <th>contact</th>
        <td><%=@subcat.contact%></td>
      </tr> 
      <tr> 
        <th>street_address</th>
        <td><%=@subcat.street_address%></td>
      </tr> 
      <tr> 
        <th>state</th>
        <td><%=@subcat.state%></td>
      </tr> 
      <tr> 
        <th>pin</th>
        <td><%=@subcat.pin%></td>
      </tr>  
      <tr>
        <th>city</th>
         <td><%=@subcat.city%></td>
      </tr> 
      <tr>  
        <th>tag_line</th>
         <td><%=@subcat.tag_line%></td>
      </tr>   
      <tr>
        <th>rating</th>
        <td><%=@subcat.rating%></td>
      </tr>
    </thead>
    <!--tbody>
        <tr>
          <td><%=@subcat.title%></td>
          <td><%=@subcat.description%></td>
          <td><%=@subcat.email%></td>
          <td><%=@subcat.contact%></td>
          <td><%=@subcat.street_address%></td>
          <td><%=@subcat.state%></td>
          <td><%=@subcat.pin%></td>
          <td><%=@subcat.city%></td>
          <td><%=@subcat.tag_line%></td>
          <td><%=@subcat.rating%></td>
        </tr>
    </tbody-->
  </table>
</div>  