<div class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 margin-top-6" role="dialog"> 
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Added Business</h3>
    </div>
    <div style="padding-top:30px" class="panel-body">
      <div class="row">
        <div class="table-responsive"> 
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <td>&nbsp;&nbsp;Title</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@subcat.title%></td>
              </tr>
              <tr>   
                <td>&nbsp;&nbsp;description</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@subcat.description%></td>
              </tr>
              <tr>  
                <td>&nbsp;&nbsp;email</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@subcat.email%></td>
              </tr> 
              <tr> 
                <td>&nbsp;&nbsp;contact</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@subcat.contact%></td>
              </tr> 
              <tr> 
                <td>&nbsp;&nbsp;street_address</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@subcat.street_address%></td>
              </tr> 
              <tr> 
                <td>&nbsp;&nbsp;state</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@subcat.state%></td>
              </tr> 
              <tr> 
                <td>&nbsp;&nbsp;pin</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@subcat.pin%></td>
              </tr>  
              <tr>
                <td>&nbsp;&nbsp;city</td>
                 <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@subcat.city%></td>
              </tr> 
              <tr>  
                <td>&nbsp;&nbsp;tag_line</td>
                 <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@subcat.tag_line%></td>
              </tr>   
              <tr>
                <td>&nbsp;&nbsp;rating</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=@subcat.rating%></td>
              </tr>
            </thead>
          </table>
        </div>
      </div>  
    </div>     
  </div>  
</div>       