<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find near by escorts</title>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/custom.css">
    <link rel="stylesheet" type="text/css" href="/assets/simple-sidebar.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bg-white"></span>
            <span class="icon-bar bg-white"></span>
            <span class="icon-bar bg-white"></span>
          </button>
          <strong><a class="navbar-brand hyper1" href="<%=root_path%>" data-no-turbolink = true>Business</a></strong>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right margin-right" data-no-turbolink = true>
            <li><a class="hyper" href="#"><i class="fa fa-search"></i></a></li>
            <li><a class="hyper" href="#" data-no-turbolink= true>ios App</a></li>
            <li><a class="hyper" href="#" data-no-turbolink= true>Android App</a></li>
            <% if current_business_user%>
              <li>
                <%= link_to "Log-out",logout_path(current_business_user.id),:class=>"hyper"%>
              </li>
            <%else%>
              <li>
                <a class="hyper" href="<%=new_business_path%>" data-no-turbolink=true>Sign up</a>
              </li> 

              <li>
                <%=link_to "Log In",business_index_path,:class=>"hyper"%>
              </li>
            <%end%>
          </ul>
        </div>
      </div><!--/.container-fluid -->
    </nav>

    <% if current_business_user%>
        <nav class="navbar navbar-inverse sidebar margin-top-8" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Brand</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li <%#if params[:action]=="welcome"%> class="active" <%#end%>><a href="<%=welcome_path(encrypt(current_business_user.id))%>">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                <li <%#if params[:action]=="add_business_form"%>class="active"<%#end%>><a href="<%=add_business_form_path%>">Add Business<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-briefcase"></span></a></li>
                <li <%#if params[:action]=="my_business"%>class="active"<%#end%>><a href="<%=my_business_path(encrypt(current_business_user.id))%>">My Business<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-briefcase"></span></a></li>

                <li>
                  <a href="#">Guide<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                </li>
                <li>
                  <a href="#">Support<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                </li>
                <li <%#if params[:action]=="setting"%>class="active"<%#end%>>
                  <a href="<%=setting_path(encrypt(current_business_user.id))%>">Settings<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                </li>
                 <li <%#if params[:action]=="profile"%>class="active"<%#end%>><a href="<%=profile_path(encrypt(current_business_user.id))%>">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
              </ul>
            </div>
          </div>
        </nav-->
        <div class="main">
        <!-- Content Here -->
        </div>
    <%end%>
    <div class="col-lg-10 margin-top-8"> 
      <%= yield %>
    </div>   
  </body>

</html>


<script type="text/javascript">
function htmlbodyHeightUpdate(){
    var height3 = $( window ).height()
    var height1 = $('.nav').height()+50
    height2 = $('.main').height()
    if(height2 > height3){
      $('html').height(Math.max(height1,height3,height2)+10);
      $('body').height(Math.max(height1,height3,height2)+10);
    }
    else
    {
      $('html').height(Math.max(height1,height3,height2));
      $('body').height(Math.max(height1,height3,height2));
    }
    
  }
  $(document).ready(function () {
    htmlbodyHeightUpdate()
    $( window ).resize(function() {
      htmlbodyHeightUpdate()
    });
    $( window ).scroll(function() {
      height2 = $('.main').height()
        htmlbodyHeightUpdate()
    });
  });
</script>
